@()(implicit request: RequestHeader)

<section ng-controller='clanMembershipCtrl as cmc' class="panel panel-default">
	<header class="panel-heading">
		<h4>Organization</h4>
	</header>
	
	<p ng-show="cmc.state=='initializing'" class="flexCenteredColumn am-fade-and-scale">Initializing...</p>
	
	<div ng-show="cmc.state=='initHasFailed'" class="flexCenteredColumn am-fade-and-scale">
		<p>We are ashamed! The initialization has failed.</p>
		<button class="btn" ng-click="cmc.init()">retry</button>
	</div>
	
	<div ng-show="cmc.state=='alone'" class="flexCenteredColumn am-fade-and-scale">
		<p style="word-wrap:normal">This CoC account has no organization. You can create a new organization or join to an existing one.</p>
		<nav class="actions buttons-bar">	
			<div rea-drop-anchor rea-show="cmc.showOrganizationJoiningForm" rea-hide="cmc.hideOrganizationJoiningForm">
				<button class="btn btn-default"	ng-click="cmc.showOrganizationJoiningForm()">join to an existing organization</button>
					<form rea-drop-popup class="am-fade flexCenteredColumn" >
						<input ng-model="cmc.searchOrganizationsCmd.clanName" placeholder='@Messages("settings.clanMembership.clanName.placeholder")'
							bs-tooltip data-title='@Messages("settings.clanMembership.clanName.tooltip")'/>
						<input ng-model="cmc.searchOrganizationsCmd.clanTag" placeholder='@Messages("settings.clanMembership.clanTag.placeholder")'
							bs-tooltip data-title='@Messages("settings.clanMembership.clanTag.tootip")' />
						<input ng-model="cmc.searchOrganizationsCmd.description" placeholder='@Messages("settings.clanMembership.organizationDescription.placeholder")'
							bs-tooltip data-title='@Messages("settings.clanMembership.organizationDescription.tooltip")'/>
						<div rea-drop-anchor rea-show="cmc.showSearchResult" rea-hide="cmc.hideSearchResult">
							<button ng-click='cmc.searchOrganizations($event)' class="btn btn-default">search</button>
							<aside rea-drop-popup class="am-fade">
								<p ng-show="cmc.aSearchIsInProgress">Searching...</p>
								<table ng-show="!cmc.aSearchIsInProgress" class="table">
									<thead style="font-style: italic;"><tr><th>clan name</th><th>clan tag</th><th>description</th></tr></thead>
									<tbody>
										<tr ng-repeat="organization in cmc.searchResult" ng-click="cmc.sendJoinRequest(organization)">
											<td class="dark-text-shadow" style="min-width:14em">{{organization.clanName}}</td>
											<td>{{organization.clanTag}}</td>
											<td>{{organization.description}}</td>
										</tr>
									</tbody>
								</table>
							</aside>
						</div>
					</form>
					
			</div>		
		
		
			<div rea-drop-anchor rea-toggle="cmc.toggleOrganizationCreationForm" rea-hide="cmc.hideOrganizationCreationForm">
				<button class="btn btn-default"	ng-click="cmc.toggleOrganizationCreationForm()">create a new organization</button>
					<form name="form" rea-drop-popup class="am-fade flexCenteredColumn">
						<input ng-model="cmc.createOrganizationCmd.clanName" placeholder='@Messages("settings.clanMembership.clanName.placeholder")' required
							bs-tooltip data-title='@Messages("settings.clanMembership.clanName.tooltip")'/>
						<input ng-model="cmc.createOrganizationCmd.clanTag" placeholder='@Messages("settings.clanMembership.clanTag.placeholder")' required
							bs-tooltip data-title='@Messages("settings.clanMembership.clanTag.tootip")' />
						<input ng-model="cmc.createOrganizationCmd.description" placeholder='@Messages("settings.clanMembership.organizationDescription.placeholder")'
							bs-tooltip data-title='@Messages("settings.clanMembership.organizationDescription.tooltip")'/>
						<button ng-click='form.$valid && cmc.createOrganization()' class="btn btn-default">proceed</button>
					</form>
			</div>		
		</nav>
	</div>
	
	<div ng-show="cmc.state=='rejected'" class="flexCenteredColumn am-fade-and-scale">
		<p>Sorry. Your join request was rejected.<p>
		<p>The rejection message was: {{cmc.rejectionMsg}}<p>
		<button class="btn" ng-click="cmc.cancelJoinRequest()">Ok</button>
	</div>
	
	<div ng-show="cmc.state=='waitingAcceptance'" class="flexCenteredColumn am-fade-and-scale">
		<p>Waiting a leader of the "<b>{{cmc.pretendedOrganization.clanName}}</b> <i>{{cmc.pretendedOrganization.description}}</i>" organization accepts you.</p>
		<button class="btn" ng-click="cmc.cancelJoinRequest()">cancel join request</button>
	</div>
	
	<div ng-show="cmc.state=='joined'" class="flexCenteredColumn am-fade-and-scale">
		<h4 style="display:flex">
			<label style="padding-right: .5em;">Current</label>
			<span class="chosen-item">{{cmc.currentOrganization.clanName}}</span>
		</h4>
		<div> 
			<label style="padding-right: .5em;">Your member icon name</label>
			<span class="chosen-item">{{cmc.iconDto.name}}</span>
		</div>
		<button class="btn" ng-click="cmc.leaveOrganization()">leave the organization</button>
	</div>
</section>
