<!--  @()(implicit request: RequestHeader)  -->

<div ng-controller='accountSettingsCtrl as asc' >
	<div class="panel panel-default">
		<div class= "panel-heading"><h4>CoC account</h4></div>
		<label >Current</label>
		<span class="badge"><h5>{{asc.getCurrentAccount().name}}</h5></span>
		<div>
			<span drop-down="asc.toggleAccountSelector">
			  	<button class="btn btn-default" ng-click="asc.toggleAccountSelector()" ng-disabled="asc.accounts.length == 0">
			    	switch
			  	</button>
				<drop-down-content>
					<table class="table">
						<thead><tr>
							<th>name</th>
							<th>description</th>
						</tr></thead>
						<tbody>
							<tr ng-repeat="account in asc.accounts" ng-click="asc.setCurrentAccount(account)" ng-class="{ active: account == asc.getCurrentAccount() }">
								<td>{{account.name}}</td>
								<td>{{account.description}}</td>
							</tr>
						</tbody>
					</table>
				</drop-down-content>
			</span>
		
			<span drop-down="asc.toggleAccountAdder" >
				<button class="btn btn-default" ng-click="asc.toggleAccountAdder()" ng-disabled="asc.accounts.length >= 20">
					Add
				</button>
				<drop-down-content>
					<form class="form-inline">
						<input placeholder="name" ng-model='asc.newAccountProject.name' bs-tooltip data-trigger="focus" data-placement="top" data-title="The CoC account name is the name of your village and the name you are seen by other players in the chat window"/>
						<input placeholder="description" ng-model='asc.newAccountProject.description' bs-tooltip data-trigger="focus" data-placement="top" data-title="an optional description for the CoC account"/>
						<button ng-click='asc.addAccount()' class="btn btn-default">proceed</button>
					</form>
				</drop-down-content>
			</span>
		</div>
	</div>	

	
</div>

